@import url('reset.css');

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

*, h1, p, td, th, label {
    font-family: Roboto;
}

h1 {
    font-size: 1.5em;
}

.container {
    display: grid;
    gap: 5px;
    grid-template-rows: 50px minmax(600px, 1fr) 50px;
}

header, footer {
    background-color: #D7DCE0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 32px;
    width: 32px;
}

.content{
    display: grid;
    justify-content: center;
    grid-template-rows: 50px 1fr 1fr;
    gap: 18px;
}

.content div:first-child {
    justify-self: center;
    align-self: center;
}

.content button {
    padding: 5px 18px 5px 18px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-top: 10px;
    border-radius: 10px;
}

button img {
    height: 22px;
    width: 22px;
}

.book-form {
    border: 1px solid #b7bbbe;
    border-radius: 8px;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-form form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

label {
    font-size: 0.8rem;
    font-weight: bold;
}

input[type=text],
input[type=number] {
    border-radius: 8px;
    border: 0.5px solid #b7bbbe;
    height: 1.6rem;
    width: 200px;
}

input[type=number] {
    width: 70px;
    text-align: center;
}

.form-btns {
    display: flex;
}

form button {
    margin: 5px;
    padding: 5px 18px 5px 18px;
}

td, th {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
}

footer {
    display: grid;
    align-items: center;
    justify-content: center;
}

footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

footer img {
    height: 18px;
    width: 18px;
}

footer p {
    font-size: 0.9rem;
    display: inline;
}